body {
  background-color: black;
  color: white;
  font-family: Arial
}

h1 {
  text-align: center;
  vertical-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
}

hr{
  margin: 5px;
}

input {
  margin: 10px;
  width: 300px;
  height: 30px;
}

#invitation {
  width: 500px;
  height: 700px;
  background-color: white;
  color: black;
  padding-top: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#invitation.formal {
  background-color: green;
}